ul {
padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
    font-family: -apple-system, "Segoe UI", Verdana, sans-serif;
}
.container {
    max-width: 550px;
    margin: 0 auto;
}