.item-form {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    height: 44px;
}
.item-form__btn {
    height: 100%;
    border: solid rgba(0,0,0,0.5) 1px;
    border-radius: 4px;
}
.item-form__btn:hover {
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, 1);
}
.item-form__btn:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.3);
}