.todo-list {
  user-select: none;
  display: flex;
  flex-direction: column;
}
.todo-list:hover {
  cursor: pointer;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}